# Tutorial: Merging Data Frames Together

This tutorial demonstrate how to merge multiple data frames into one using the python language in Jupyter notebook.

We begin by importing the pandas library for data processing.

In [1]:
import pandas as pd

## Reading In the Files We Want to Merge Together

We use the next line of code to read in an excel file that is stored in a team member's github folder. 
Because the data frame contains information on CO2 levels in different countries, we name it "DF_CO2."
We then display the data frame to review it prior to proceeding.

In [2]:
Mahnur_file_location = 'https://github.com/PUBPOL542G3/Mahnur-/raw/main/mahnurcleanedfile.xlsx'
DF_C02 = pd.read_excel(Mahnur_file_location)
display(DF_C02)

         country    CO2
0    Afghanistan  0.262
1        Albania  1.600
2        Algeria  3.800
3        Andorra  5.970
4         Angola  1.220
..           ...    ...
187    Venezuela  5.690
188      Vietnam  1.950
189        Yemen  0.480
190       Zambia  0.271
191     Zimbabwe  0.881

[192 rows x 2 columns]

We use the next line of code to read in an excel file that is stored in a second team member's github folder. Because the data frame contains information on employment rates in different countries, we name it "DF_Employment." We then display the data frame to review it prior to proceeding.

In [3]:
Oliver_file_location = 'https://github.com/PUBPOL542G3/Oliver/blob/main/OliverRevisedData.xlsx?raw=true'
DF_Employment = pd.read_excel(Oliver_file_location)
display(DF_Employment)

         country  employment
0    Afghanistan       0.491
1        Albania       0.468
2        Algeria       0.368
3         Angola       0.721
4      Argentina       0.557
..           ...         ...
174    Venezuela       0.599
175      Vietnam       0.768
176        Yemen       0.324
177       Zambia       0.691
178     Zimbabwe       0.790

[179 rows x 2 columns]



We use the next line of code to read in an excel file that is stored in a third team member's github folder. Because the data frame contains information on the amount of forested area in different countries, we name it "DF_ForestArea." We then display the data frame to review it prior to proceeding.

In [4]:
Marina_file_location = 'https://github.com/PUBPOL542G3/Marina/blob/main/marina_cleaned.xlsx?raw=true'
DF_ForestArea = pd.read_excel(Marina_file_location)
display(DF_ForestArea)

                        country  forest_area
0                       Armenia     329.5200
1                   Afghanistan    1208.4400
2                       Albania     789.1875
3                       Algeria    1956.0000
4                American Samoa      17.2800
..                          ...          ...
233   Sint Maarten (Dutch part)       0.3700
234  Saint-Martin (French part)       1.2400
235                      Jersey       0.6000
236                   Palestine      10.1400
237                       China  210294.2500

[238 rows x 2 columns]

## Merging The Three Data Frames

The following code uses the ".merge" command to merge the "DF_CO2" data frame to the "DF_Employment" data frame.
The data frames are merged on the "country" column in each data frame.
This code also creates a new column, "check1" to identify which data frame each of the countries in the merged data frame originated in (both, right_only, or left_only).
We then display the data to ensure that it merged the way we expected it to.

In [5]:
Oliver_Nur_Merge = DF_Employment.merge(DF_C02,left_on='country',right_on='country',how='outer',indicator='check1')
display(Oliver_Nur_Merge)

                 country  employment     CO2      check1
0            Afghanistan       0.491   0.262        both
1                Albania       0.468   1.600        both
2                Algeria       0.368   3.800        both
3                 Angola       0.721   1.220        both
4              Argentina       0.557   4.640        both
..                   ...         ...     ...         ...
187                Nauru         NaN   4.600  right_only
188                Palau         NaN  12.700  right_only
189           Seychelles         NaN   5.170  right_only
190  St. Kitts and Nevis         NaN   4.580  right_only
191               Tuvalu         NaN   0.991  right_only

[192 rows x 4 columns]

Now it is time to merge in the third data frame, "DF_ForestedArea." The code is similar to the code used above, except this time we create a variable called "check2" to indicate the original dataframe for each observation (country).

In [6]:
Triple_Merge = Oliver_Nur_Merge.merge(DF_ForestArea,left_on='country',right_on='country',how='outer',indicator='check2')

We then display the data to ensure that it merged the way we expected it to.

In [7]:
display(Triple_Merge)

,country,employment,CO2,check1,forest_area,check2
0,Afghanistan,0.491,0.262,both,1208.4400,both
1,Albania,0.468,1.600,both,789.1875,both
2,Algeria,0.368,3.800,both,1956.0000,both
3,Angola,0.721,1.220,both,69382.6900,both
4,Argentina,0.557,4.640,both,29097.0000,both
...,...,...,...,...,...,...
233,"Bonaire, Sint Eustatius and Saba",NaN,NaN,NaN,1.9100,right_only
234,Curaçao,NaN,NaN,NaN,0.0700,right_only
235,Sint Maarten (Dutch part),NaN,NaN,NaN,0.3700,right_only
236,Saint-Martin (French part),NaN,NaN,NaN,1.2400,right_only
237,Jersey,NaN,NaN,NaN,0.6000,right_only

## Cleaning the Merged Data and Saving It to Excel

We have some final cleaning to do prior to saving the data frame. We begin by dropping the variables "check1"and "check2" because we have confirmed that our data has missing values, which we will deal with momentarily.

In [8]:
Triple_Merge.drop(['check1', 'check2'], 1, inplace = True)

Because we know that our data contains missing values, which we cannot use for clustering and regression analyses, we will use the next lines of code to drop any country observations with missing values.

In [9]:
Triple_Merge.dropna(0,"any",inplace=True)

Finally, we display the full data frame to ensure that the above code was indeed successful at dropping the "check 1" and "check 2" variables as well as all country observations with missing values.

In [10]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
display(Triple_Merge)

                              country  employment      CO2  forest_area
0                         Afghanistan       0.491   0.2620    1208.4400
1                             Albania       0.468   1.6000     789.1875
2                             Algeria       0.368   3.8000    1956.0000
3                              Angola       0.721   1.2200   69382.6900
4                           Argentina       0.557   4.6400   29097.0000
5                             Armenia       0.489   1.6500     329.5200
6                           Australia       0.611  16.8000  133094.5000
7                             Austria       0.567   7.7000    3881.1900
8                          Azerbaijan       0.623   3.8600    1077.8870
9                             Bahamas       0.666   5.3900     509.8600
10                            Bahrain       0.708  23.8000       0.6000
11                         Bangladesh       0.540   0.4670    1883.4000
12                           Barbados       0.582   4.3600       6.3000
13                            Belarus       0.639   6.2900    8633.5000
14                            Belgium       0.489   8.8400     689.3000
15                             Belize       0.598   1.6100    1332.8300
16                              Benin       0.689   0.5550    3385.1500
17                             Bhutan       0.650   1.3400    2715.1800
18                            Bolivia       0.650   1.8100   52027.2200
19             Bosnia and Herzegovina       0.338   5.3900    2160.5000
20                           Botswana       0.593   2.5600   15846.2000
21                             Brazil       0.587   2.4200  503884.8000
22                             Brunei       0.630  16.8000     380.0000
23                           Bulgaria       0.492   6.6900    3833.0000
24                       Burkina Faso       0.623   0.1820    6466.4000
25                            Burundi       0.773   0.0386     279.6400
26                           Cambodia       0.843   0.5450    8846.8200
27                           Cameroon       0.729   0.3330   20620.4800
28                             Canada       0.610  16.0000  347115.7100
29                         Cape Verde       0.538   0.9430      44.2200
30           Central African Republic       0.671   0.0653   22453.0000
31                               Chad       0.672   0.0694    4890.0000
32                              Chile       0.582   4.5500   17596.0800
33                              China       0.665   6.9100  210294.2500
34                           Colombia       0.648   1.9600   60134.6600
35                            Comoros       0.410   0.2170      35.1100
36   Democratic Republic of the Congo       0.697   0.0367  131662.1200
37              Republic of the Congo       0.628   0.6490   22015.0000
38                         Costa Rica       0.564   1.5100    2953.0300
39                      Cote d'Ivoire       0.563   0.4050    3401.1500
40                            Croatia       0.443   4.2200    1922.0000
41                               Cuba       0.534   2.5700    3184.0000
42                             Cyprus       0.533   5.9900     172.7100
43                     Czech Republic       0.566   9.8900    2668.3900
44                            Denmark       0.582   6.1900     624.6800
45                           Djibouti       0.555   0.6650       5.6000
46                 Dominican Republic       0.627   2.2900    2103.6500
47                            Ecuador       0.642   2.6300   12819.1800
48                              Egypt       0.417   2.3700      48.4200
49                        El Salvador       0.590   1.0700     606.3800
50                  Equatorial Guinea       0.563   5.1600    2490.2200
51                            Eritrea       0.761   0.2010    1071.0600
52                            Estonia       0.583  12.1000    2421.0100
53                           Eswatini       0.396   0.8900     491.5000
54                           Ethiopia       0.785   0.1280   17433.5000
55                               Fiji       0.549   2.4500    1106.6200
56                            Finland       0.533   8.0600   22409.0000
57                             France       0.498   5.3000   16836.0000
58                              Gabon       0.407   2.6900   23590.0000
59                             Gambia       0.537   0.2510     271.3400
60                            Georgia       0.600   2.3800    2822.4000
61                            Germany       0.575   9.7400   11419.0000
62                              Ghana       0.751   0.5790    7880.4400
63                             Greece       0.399   7.0400    3901.8030
64                          Guatemala       0.598   0.9500    3585.8000
65                             Guinea       0.615   0.2150    6389.0000
66                      Guinea-Bissau       0.671   0.1600    2022.2100
67                             Guyana       0.507   2.6100   18461.3600
68                              Haiti       0.581   0.2720     362.8500
69                           Honduras       0.647   1.0800    6463.8300
70                            Hungary       0.511   4.7800    2060.8200
71                            Iceland       0.740  10.7000      48.1600
72                              India       0.521   1.7600   70828.0000
73                          Indonesia       0.629   1.9600   95027.9000
74                               Iran       0.381   8.1700   10691.9800
75                               Iraq       0.428   4.6600     825.0000
76                            Ireland       0.546   8.2700     754.6700
77                             Israel       0.608   8.1500     165.0000
78                              Italy       0.426   5.8800    9297.0800
79                            Jamaica       0.578   2.6200     577.4600
80                              Japan       0.580   9.5800   24944.0000
81                             Jordan       0.340   2.7500      97.5000
82                         Kazakhstan       0.674  15.0000    3308.4562
83                              Kenya       0.580   0.3410    3522.4100
84                             Kuwait       0.689  24.1000       6.2500
85                         Kyrgyzstan       0.577   1.7300    1251.8100
86                                Lao       0.777   1.3100   16768.0000
87                             Latvia       0.543   3.6500    3391.4400
88                            Lebanon       0.438   3.6900     140.3300
89                            Lesotho       0.483   1.1400      34.5200
90                            Liberia       0.546   0.2700    7768.7400
91                              Libya       0.428   8.7900     217.0000
92                          Lithuania       0.539   4.4800    2187.0000
93                         Luxembourg       0.554  16.5000      88.7000
94                         Madagascar       0.850   0.1490   12495.8900
95                             Malawi       0.725   0.0669    2451.7000
96                           Malaysia       0.623   7.7100   19464.2200
97                           Maldives       0.628   2.8600       0.8200
98                               Mali       0.657   0.1780   13296.0000
99                              Malta       0.513   3.9600       0.3500
100                        Mauritania       0.445   0.6090     340.0400
101                         Mauritius       0.549   3.3500      38.3000
102                            Mexico       0.587   3.9600   66330.9100
103                           Moldova       0.425   1.1800     386.4000
104                          Mongolia       0.574   7.7600   14178.3300
105                        Montenegro       0.403   3.5700     827.0000
106                           Morocco       0.443   1.7600    5684.6900
107                        Mozambique       0.590   0.2330   37940.0000
108                           Myanmar       0.651   0.4210   29992.4400
109                           Namibia       0.491   1.7100    6993.9500
110                             Nepal       0.815   0.2230    5962.0300
111                       Netherlands       0.597   9.8300     364.8300
112                       New Zealand       0.647   7.7700    9846.6100
113                         Nicaragua       0.633   0.8440    3907.5300
114                             Niger       0.787   0.1010    1141.8000
115                           Nigeria       0.527   0.6270   22443.4500
116                       North Korea       0.769   0.9780    6337.0000
117                   North Macedonia       0.410   3.4100     994.4000
118                            Norway       0.621   8.7200   12141.0000
119                              Oman       0.673  15.1000       3.0000
120                          Pakistan       0.513   0.9260    3932.6000
121                         Palestine       0.337   0.6640      10.1400
122                            Panama       0.635   2.7400    4270.9100
123                  Papua New Guinea       0.682   0.9100   36024.4209
124                          Paraguay       0.664   0.9050   17498.9400
125                              Peru       0.738   1.6900   73194.5300
126                       Philippines       0.605   1.1200    7014.1500
127                            Poland       0.524   8.2200    9420.0000
128                          Portugal       0.513   5.0400    3312.0000
129                             Qatar       0.874  41.3000       0.0000
130                           Romania       0.506   3.9100    6900.9600
131                            Russia       0.601  11.2000  814930.4600
132                            Rwanda       0.854   0.0816     270.0000
133                             Samoa       0.292   1.2100     164.0700
134             Sao Tome and Principe       0.504   0.5700      55.0000
135                      Saudi Arabia       0.525  19.6000     977.0000
136                           Senegal       0.542   0.6950    8268.1600
137                            Serbia       0.427   4.9300    2719.5300
138                      Sierra Leone       0.555   0.1260    2633.5300
139                         Singapore       0.677  11.0000      16.4714
140                          Slovakia       0.528   6.3500    1921.7500
141                          Slovenia       0.522   6.5800    1248.0000
142                   Solomon Islands       0.701   0.3160    2526.6200
143                           Somalia       0.432   0.0457    6363.7500
144                      South Africa       0.409   8.3500   17232.0900
145                       South Korea       0.602  11.7000    6136.2400
146                       South Sudan       0.637   0.1810    7157.0000
147                             Spain       0.455   5.8100   18551.1800
148                         Sri Lanka       0.514   0.9490    2128.8200
149                         St. Lucia       0.516   2.2900      20.7700
150    St. Vincent and the Grenadines       0.570   2.0200      28.5400
151                             Sudan       0.407   0.4990   19209.9300
152                          Suriname       0.497   3.0600   15251.6700
153                            Sweden       0.592   4.4100   27980.0000
154                       Switzerland       0.649   4.6700    1251.9100
155                             Syria       0.355   1.5900     522.0800
156                        Tajikistan       0.531   0.5740     421.8000
157                          Tanzania       0.816   0.2440   48090.0000
158                          Thailand       0.687   4.1000   20061.0000
159                       Timor-Leste       0.379   0.4200     928.1000
160                              Togo       0.764   0.3690    1224.0700
161                             Tonga       0.589   1.2000       8.9500
162               Trinidad and Tobago       0.606  33.7000     230.2900
163                           Tunisia       0.400   2.6200     695.0800
164                            Turkey       0.458   4.8600   21630.3000
165                      Turkmenistan       0.631  12.6000    4127.0000
166                            Uganda       0.694   0.1330    2544.1600
167                           Ukraine       0.496   4.9900    9657.0000
168              United Arab Emirates       0.797  20.7000     317.3000
169                    United Kingdom       0.589   6.4200    3155.0000
170                     United States       0.587  16.9000  310095.0000
171                           Uruguay       0.601   1.9400    1920.0000
172                        Uzbekistan       0.602   3.3100    3549.4000
173                           Vanuatu       0.669   0.4870     442.3000
174                         Venezuela       0.599   5.6900   46683.0000
175                           Vietnam       0.768   1.9500   14061.8600
176                             Yemen       0.324   0.4800     549.0000
177                            Zambia       0.691   0.2710   45755.1000
178                          Zimbabwe       0.790   0.8810   17674.9300

To save the merged data frame to an excel file on a desktop computer, we run the following code:

In [11]:
Triple_Merge.to_excel(r'/Users/MarinaKaminsky/Desktop/triple_merge.xlsx', sheet_name='Merge', index = False)