In [1]:
#Import pandas library for data processing
import pandas as pd

In [2]:
#Importing, reading, and displaying Mahnur's file from github
Mahnur_file_location = 'https://github.com/PUBPOL542G3/Mahnur-/raw/main/mahnurcleanedfile.xlsx'
DF_C02 = pd.read_excel(Mahnur_file_location)
display(DF_C02)

         country    CO2
0    Afghanistan  0.262
1        Albania  1.600
2        Algeria  3.800
3        Andorra  5.970
4         Angola  1.220
..           ...    ...
187    Venezuela  5.690
188      Vietnam  1.950
189        Yemen  0.480
190       Zambia  0.271
191     Zimbabwe  0.881

[192 rows x 2 columns]

In [3]:
#Importing, reading, and displaying Oliver's file from github
Oliver_file_location = 'https://github.com/PUBPOL542G3/Oliver/blob/main/OliverRevisedData.xlsx?raw=true'
DF_Employment = pd.read_excel(Oliver_file_location)
display(DF_Employment)

         country  employment
0    Afghanistan       0.491
1        Albania       0.468
2        Algeria       0.368
3         Angola       0.721
4      Argentina       0.557
..           ...         ...
174    Venezuela       0.599
175      Vietnam       0.768
176        Yemen       0.324
177       Zambia       0.691
178     Zimbabwe       0.790

[179 rows x 2 columns]

In [4]:
#Importing, reading, and displaying Marina's file from github
Marina_file_location = 'https://github.com/PUBPOL542G3/Marina/blob/main/marina_cleaned.xlsx?raw=true'
DF_ForestArea = pd.read_excel(Marina_file_location)
display(DF_ForestArea)

                        country  forest_area
0                       Armenia     329.5200
1                   Afghanistan    1208.4400
2                       Albania     789.1875
3                       Algeria    1956.0000
4                American Samoa      17.2800
..                          ...          ...
233   Sint Maarten (Dutch part)       0.3700
234  Saint-Martin (French part)       1.2400
235                      Jersey       0.6000
236                   Palestine      10.1400
237                       China  210294.2500

[238 rows x 2 columns]

In [5]:
#Merging Oliver's cleaned employment data and Mahnur's cleaned CO2 data.  
Oliver_Nur_Merge = DF_Employment.merge(DF_C02,left_on='country',right_on='country',how='outer',indicator='check1')
display(Oliver_Nur_Merge)

                 country  employment     CO2      check1
0            Afghanistan       0.491   0.262        both
1                Albania       0.468   1.600        both
2                Algeria       0.368   3.800        both
3                 Angola       0.721   1.220        both
4              Argentina       0.557   4.640        both
..                   ...         ...     ...         ...
187                Nauru         NaN   4.600  right_only
188                Palau         NaN  12.700  right_only
189           Seychelles         NaN   5.170  right_only
190  St. Kitts and Nevis         NaN   4.580  right_only
191               Tuvalu         NaN   0.991  right_only

[192 rows x 4 columns]

In [6]:
#Merging in Marina's cleaned data on forested area to Oliver and Mahnur's merged data.
Triple_Merge = Oliver_Nur_Merge.merge(DF_ForestArea,left_on='country',right_on='country',how='outer',indicator='check2')

In [7]:
#displaying data to check that the merge worked.
display(Triple_Merge)

,country,employment,CO2,check1,forest_area,check2
0,Afghanistan,0.491,0.262,both,1208.4400,both
1,Albania,0.468,1.600,both,789.1875,both
2,Algeria,0.368,3.800,both,1956.0000,both
3,Angola,0.721,1.220,both,69382.6900,both
4,Argentina,0.557,4.640,both,29097.0000,both
...,...,...,...,...,...,...
233,"Bonaire, Sint Eustatius and Saba",NaN,NaN,NaN,1.9100,right_only
234,Curaçao,NaN,NaN,NaN,0.0700,right_only
235,Sint Maarten (Dutch part),NaN,NaN,NaN,0.3700,right_only
236,Saint-Martin (French part),NaN,NaN,NaN,1.2400,right_only
237,Jersey,NaN,NaN,NaN,0.6000,right_only

In [8]:
#Importing, reading, and displaying data on country regions from github.
region_file_location = 'https://github.com/PUBPOL542G3/G3_Merge/blob/main/Regions%20(1).xlsx?raw=true'
DF_Regions = pd.read_excel(region_file_location,sheet_name='list-of-countries-etc')
display(DF_Regions)

,geo,name,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017","World bank, 3 income groups 2017"
0,dza,Algeria,africa,asia_west,south_asia,g77,33.00000,66.00000,1946-11-19,South Asia,Low income,NaN
1,ago,Angola,africa,europe_east,europe_central_asia,others,41.00000,20.00000,1955-12-14,Europe & Central Asia,Upper middle income,NaN
2,ben,Benin,africa,africa_north,middle_east_north_africa,g77,28.00000,3.00000,1962-10-08,Middle East & North Africa,Upper middle income,NaN
3,bwa,Botswana,africa,europe_west,europe_central_asia,others,42.50779,1.52109,1993-07-28,Europe & Central Asia,High income,NaN
4,bfa,Burkina Faso,africa,africa_sub_saharan,sub_saharan_africa,g77,-12.50000,18.50000,1976-12-01,Sub-Saharan Africa,Lower middle income,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
192,swe,Sweden,europe,east_asia_pacific,east_asia_pacific,g77,16.16667,107.83333,1977-09-20,East Asia & Pacific,Lower middle income,NaN
193,che,Switzerland,europe,asia_west,middle_east_north_africa,g77,15.50000,47.50000,1947-09-30,Middle East & North Africa,Lower middle income,NaN
194,tur,Turkey,europe,africa_sub_saharan,sub_saharan_africa,g77,-14.33333,28.50000,1964-12-01,Sub-Saharan Africa,Lower middle income,NaN
195,ukr,Ukraine,europe,africa_sub_saharan,sub_saharan_africa,g77,-19.00000,29.75000,1980-08-25,Sub-Saharan Africa,Low income,NaN
196,gbr,United Kingdom,europe,africa_sub_saharan,sub_saharan_africa,NaN,7.50000,30.00000,2011-07-14,Sub-Saharan Africa,Low income,NaN

In [9]:
#refining data frame to only include the desired variables.
Refined_Col_Region = ['name', 'four_regions']
DF_RevRegions = DF_Regions[Refined_Col_Region]
display(DF_RevRegions)

               name four_regions
0           Algeria       africa
1            Angola       africa
2             Benin       africa
3          Botswana       africa
4      Burkina Faso       africa
..              ...          ...
192          Sweden       europe
193     Switzerland       europe
194          Turkey       europe
195         Ukraine       europe
196  United Kingdom       europe

[197 rows x 2 columns]

In [10]:
#Renaming the two variable columns in the refined data frame for regions so that we can merge the regions data with our data frame containing Co2, employment, and forested area data.
DF_RevRegions.rename(columns= {'name':'country'}, inplace= True)
DF_RevRegions.rename(columns= {'four_regions':'region'}, inplace= True)
display(DF_RevRegions)

/Users/MarinaKaminsky/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

            country  region
0           Algeria  africa
1            Angola  africa
2             Benin  africa
3          Botswana  africa
4      Burkina Faso  africa
..              ...     ...
192          Sweden  europe
193     Switzerland  europe
194          Turkey  europe
195         Ukraine  europe
196  United Kingdom  europe

[197 rows x 2 columns]

In [11]:
#renaming some of the country names in the regions data frame to match country names in our Triple_Merge data frame and facilitate merging the two data frames.
DF_FinRegions = DF_RevRegions.replace({
     'Congo, Dem. Rep.':'Democratic Republic of the Congo',
    'Congo, Rep.': 'Republic of the Congo',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Slovak Republic': 'Slovakia'
})
display(DF_FinRegions)

            country  region
0           Algeria  africa
1            Angola  africa
2             Benin  africa
3          Botswana  africa
4      Burkina Faso  africa
..              ...     ...
192          Sweden  europe
193     Switzerland  europe
194          Turkey  europe
195         Ukraine  europe
196  United Kingdom  europe

[197 rows x 2 columns]

In [12]:
#Merging redions data with Triple_Merge data.
DF_MergeRegion = DF_FinRegions.merge(Triple_Merge,left_on='country',right_on='country',how='left', indicator = 'True')
display(DF_MergeRegion)

,country,region,employment,CO2,check1,forest_area,check2,True
0,Algeria,africa,0.368,3.800,both,1956.00,both,both
1,Angola,africa,0.721,1.220,both,69382.69,both,both
2,Benin,africa,0.689,0.555,both,3385.15,both,both
3,Botswana,africa,0.593,2.560,both,15846.20,both,both
4,Burkina Faso,africa,0.623,0.182,both,6466.40,both,both
...,...,...,...,...,...,...,...,...
192,Sweden,europe,0.592,4.410,both,27980.00,both,both
193,Switzerland,europe,0.649,4.670,both,1251.91,both,both
194,Turkey,europe,0.458,4.860,both,21630.30,both,both
195,Ukraine,europe,0.496,4.990,both,9657.00,both,both
196,United Kingdom,europe,0.589,6.420,both,3155.00,both,both

In [13]:
#Dropping the unwanted variables "check1", "check2", and "True", which were used to help confirm that our merged data frame contains null values. 
display (DF_MergeRegion)

,country,region,employment,CO2,check1,forest_area,check2,True
0,Algeria,africa,0.368,3.800,both,1956.00,both,both
1,Angola,africa,0.721,1.220,both,69382.69,both,both
2,Benin,africa,0.689,0.555,both,3385.15,both,both
3,Botswana,africa,0.593,2.560,both,15846.20,both,both
4,Burkina Faso,africa,0.623,0.182,both,6466.40,both,both
...,...,...,...,...,...,...,...,...
192,Sweden,europe,0.592,4.410,both,27980.00,both,both
193,Switzerland,europe,0.649,4.670,both,1251.91,both,both
194,Turkey,europe,0.458,4.860,both,21630.30,both,both
195,Ukraine,europe,0.496,4.990,both,9657.00,both,both
196,United Kingdom,europe,0.589,6.420,both,3155.00,both,both

In [14]:
#Here we are dropping any contries that have missing data (or an NaN value) for any of our variables. 
DF_MergeRegion.dropna(0,"any",inplace=True)

#We use the below code to display the full data frame. 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
display(DF_MergeRegion)

,country,region,employment,CO2,check1,forest_area,check2,True
0,Algeria,africa,0.368,3.8000,both,1956.0000,both,both
1,Angola,africa,0.721,1.2200,both,69382.6900,both,both
2,Benin,africa,0.689,0.5550,both,3385.1500,both,both
3,Botswana,africa,0.593,2.5600,both,15846.2000,both,both
4,Burkina Faso,africa,0.623,0.1820,both,6466.4000,both,both
5,Burundi,africa,0.773,0.0386,both,279.6400,both,both
6,Cameroon,africa,0.729,0.3330,both,20620.4800,both,both
7,Cape Verde,africa,0.538,0.9430,both,44.2200,both,both
8,Central African Republic,africa,0.671,0.0653,both,22453.0000,both,both
9,Chad,africa,0.672,0.0694,both,4890.0000,both,both
10,Comoros,africa,0.410,0.2170,both,35.1100,both,both
11,Democratic Republic of the Congo,africa,0.697,0.0367,both,131662.1200,both,both
12,Republic of the Congo,africa,0.628,0.6490,both,22015.0000,both,both
13,Cote d'Ivoire,africa,0.563,0.4050,both,3401.1500,both,both
14,Djibouti,africa,0.555,0.6650,both,5.6000,both,both
15,Egypt,africa,0.417,2.3700,both,48.4200,both,both
16,Equatorial Guinea,africa,0.563,5.1600,both,2490.2200,both,both
17,Eritrea,africa,0.761,0.2010,both,1071.0600,both,both
18,Ethiopia,africa,0.785,0.1280,both,17433.5000,both,both
19,Gabon,africa,0.407,2.6900,both,23590.0000,both,both
20,Gambia,africa,0.537,0.2510,both,271.3400,both,both
21,Ghana,africa,0.751,0.5790,both,7880.4400,both,both
22,Guinea,africa,0.615,0.2150,both,6389.0000,both,both
23,Guinea-Bissau,africa,0.671,0.1600,both,2022.2100,both,both
24,Kenya,africa,0.580,0.3410,both,3522.4100,both,both
25,Lesotho,africa,0.483,1.1400,both,34.5200,both,both
26,Liberia,africa,0.546,0.2700,both,7768.7400,both,both
27,Libya,africa,0.428,8.7900,both,217.0000,both,both
28,Madagascar,africa,0.850,0.1490,both,12495.8900,both,both
29,Malawi,africa,0.725,0.0669,both,2451.7000,both,both
30,Mali,africa,0.657,0.1780,both,13296.0000,both,both
31,Mauritania,africa,0.445,0.6090,both,340.0400,both,both
32,Mauritius,africa,0.549,3.3500,both,38.3000,both,both
33,Morocco,africa,0.443,1.7600,both,5684.6900,both,both
34,Mozambique,africa,0.590,0.2330,both,37940.0000,both,both
35,Namibia,africa,0.491,1.7100,both,6993.9500,both,both
36,Niger,africa,0.787,0.1010,both,1141.8000,both,both
37,Nigeria,africa,0.527,0.6270,both,22443.4500,both,both
38,Rwanda,africa,0.854,0.0816,both,270.0000,both,both
39,Sao Tome and Principe,africa,0.504,0.5700,both,55.0000,both,both
40,Senegal,africa,0.542,0.6950,both,8268.1600,both,both
42,Sierra Leone,africa,0.555,0.1260,both,2633.5300,both,both
43,Somalia,africa,0.432,0.0457,both,6363.7500,both,both
44,South Africa,africa,0.409,8.3500,both,17232.0900,both,both
45,Sudan,africa,0.407,0.4990,both,19209.9300,both,both
47,Tanzania,africa,0.816,0.2440,both,48090.0000,both,both
48,Togo,africa,0.764,0.3690,both,1224.0700,both,both
49,Tunisia,africa,0.400,2.6200,both,695.0800,both,both
50,Uganda,africa,0.694,0.1330,both,2544.1600,both,both
51,Zambia,africa,0.691,0.2710,both,45755.1000,both,both
52,Zimbabwe,africa,0.790,0.8810,both,17674.9300,both,both
53,South Sudan,africa,0.637,0.1810,both,7157.0000,both,both
55,Argentina,americas,0.557,4.6400,both,29097.0000,both,both
56,Bahamas,americas,0.666,5.3900,both,509.8600,both,both
57,Barbados,americas,0.582,4.3600,both,6.3000,both,both
58,Belize,americas,0.598,1.6100,both,1332.8300,both,both
59,Bolivia,americas,0.650,1.8100,both,52027.2200,both,both
60,Brazil,americas,0.587,2.4200,both,503884.8000,both,both
61,Canada,americas,0.610,16.0000,both,347115.7100,both,both
62,Chile,americas,0.582,4.5500,both,17596.0800,both,both
63,Colombia,americas,0.648,1.9600,both,60134.6600,both,both
64,Costa Rica,americas,0.564,1.5100,both,2953.0300,both,both
65,Cuba,americas,0.534,2.5700,both,3184.0000,both,both
67,Dominican Republic,americas,0.627,2.2900,both,2103.6500,both,both
68,Ecuador,americas,0.642,2.6300,both,12819.1800,both,both
69,El Salvador,americas,0.590,1.0700,both,606.3800,both,both
71,Guatemala,americas,0.598,0.9500,both,3585.8000,both,both
72,Guyana,americas,0.507,2.6100,both,18461.3600,both,both
73,Haiti,americas,0.581,0.2720,both,362.8500,both,both
74,Honduras,americas,0.647,1.0800,both,6463.8300,both,both
75,Jamaica,americas,0.578,2.6200,both,577.4600,both,both
76,Mexico,americas,0.587,3.9600,both,66330.9100,both,both
77,Nicaragua,americas,0.633,0.8440,both,3907.5300,both,both
78,Panama,americas,0.635,2.7400,both,4270.9100,both,both
79,Paraguay,americas,0.664,0.9050,both,17498.9400,both,both
80,Peru,americas,0.738,1.6900,both,73194.5300,both,both
82,St. Lucia,americas,0.516,2.2900,both,20.7700,both,both
83,St. Vincent and the Grenadines,americas,0.570,2.0200,both,28.5400,both,both
84,Suriname,americas,0.497,3.0600,both,15251.6700,both,both
85,Trinidad and Tobago,americas,0.606,33.7000,both,230.2900,both,both
86,United States,americas,0.587,16.9000,both,310095.0000,both,both
87,Uruguay,americas,0.601,1.9400,both,1920.0000,both,both
88,Venezuela,americas,0.599,5.6900,both,46683.0000,both,both
89,Afghanistan,asia,0.491,0.2620,both,1208.4400,both,both
90,Australia,asia,0.611,16.8000,both,133094.5000,both,both
91,Bahrain,asia,0.708,23.8000,both,0.6000,both,both
92,Bangladesh,asia,0.540,0.4670,both,1883.4000,both,both
93,Bhutan,asia,0.650,1.3400,both,2715.1800,both,both
94,Brunei,asia,0.630,16.8000,both,380.0000,both,both
95,Cambodia,asia,0.843,0.5450,both,8846.8200,both,both
96,China,asia,0.665,6.9100,both,210294.2500,both,both
97,Fiji,asia,0.549,2.4500,both,1106.6200,both,both
99,India,asia,0.521,1.7600,both,70828.0000,both,both
100,Indonesia,asia,0.629,1.9600,both,95027.9000,both,both
101,Iran,asia,0.381,8.1700,both,10691.9800,both,both
102,Iraq,asia,0.428,4.6600,both,825.0000,both,both
103,Israel,asia,0.608,8.1500,both,165.0000,both,both
104,Japan,asia,0.580,9.5800,both,24944.0000,both,both
105,Jordan,asia,0.340,2.7500,both,97.5000,both,both
106,Kazakhstan,asia,0.674,15.0000,both,3308.4562,both,both
108,North Korea,asia,0.769,0.9780,both,6337.0000,both,both
109,South Korea,asia,0.602,11.7000,both,6136.2400,both,both
110,Kuwait,asia,0.689,24.1000,both,6.2500,both,both
111,Kyrgyzstan,asia,0.577,1.7300,both,1251.8100,both,both
112,Lao,asia,0.777,1.3100,both,16768.0000,both,both
113,Lebanon,asia,0.438,3.6900,both,140.3300,both,both
114,Malaysia,asia,0.623,7.7100,both,19464.2200,both,both
115,Maldives,asia,0.628,2.8600,both,0.8200,both,both
118,Mongolia,asia,0.574,7.7600,both,14178.3300,both,both
119,Myanmar,asia,0.651,0.4210,both,29992.4400,both,both
121,Nepal,asia,0.815,0.2230,both,5962.0300,both,both
122,New Zealand,asia,0.647,7.7700,both,9846.6100,both,both
123,Oman,asia,0.673,15.1000,both,3.0000,both,both
124,Pakistan,asia,0.513,0.9260,both,3932.6000,both,both
126,Papua New Guinea,asia,0.682,0.9100,both,36024.4209,both,both
127,Philippines,asia,0.605,1.1200,both,7014.1500,both,both
128,Qatar,asia,0.874,41.3000,both,0.0000,both,both
129,Samoa,asia,0.292,1.2100,both,164.0700,both,both
130,Saudi Arabia,asia,0.525,19.6000,both,977.0000,both,both
131,Singapore,asia,0.677,11.0000,both,16.4714,both,both
132,Solomon Islands,asia,0.701,0.3160,both,2526.6200,both,both
133,Sri Lanka,asia,0.514,0.9490,both,2128.8200,both,both
134,Syria,asia,0.355,1.5900,both,522.0800,both,both
136,Tajikistan,asia,0.531,0.5740,both,421.8000,both,both
137,Thailand,asia,0.687,4.1000,both,20061.0000,both,both
138,Timor-Leste,asia,0.379,0.4200,both,928.1000,both,both
139,Tonga,asia,0.589,1.2000,both,8.9500,both,both
140,Turkmenistan,asia,0.631,12.6000,both,4127.0000,both,both
142,United Arab Emirates,asia,0.797,20.7000,both,317.3000,both,both
143,Uzbekistan,asia,0.602,3.3100,both,3549.4000,both,both
144,Vanuatu,asia,0.669,0.4870,both,442.3000,both,both
145,Palestine,asia,0.337,0.6640,both,10.1400,both,both
146,Vietnam,asia,0.768,1.9500,both,14061.8600,both,both
147,Yemen,asia,0.324,0.4800,both,549.0000,both,both
148,Albania,europe,0.468,1.6000,both,789.1875,both,both
150,Armenia,europe,0.489,1.6500,both,329.5200,both,both
151,Austria,europe,0.567,7.7000,both,3881.1900,both,both
152,Azerbaijan,europe,0.623,3.8600,both,1077.8870,both,both
153,Belarus,europe,0.639,6.2900,both,8633.5000,both,both
154,Belgium,europe,0.489,8.8400,both,689.3000,both,both
155,Bosnia and Herzegovina,europe,0.338,5.3900,both,2160.5000,both,both
156,Bulgaria,europe,0.492,6.6900,both,3833.0000,both,both
157,Croatia,europe,0.443,4.2200,both,1922.0000,both,both
158,Cyprus,europe,0.533,5.9900,both,172.7100,both,both
159,Czech Republic,europe,0.566,9.8900,both,2668.3900,both,both
160,Denmark,europe,0.582,6.1900,both,624.6800,both,both
161,Estonia,europe,0.583,12.1000,both,2421.0100,both,both
162,Finland,europe,0.533,8.0600,both,22409.0000,both,both
163,France,europe,0.498,5.3000,both,16836.0000,both,both
164,Georgia,europe,0.600,2.3800,both,2822.4000,both,both
165,Germany,europe,0.575,9.7400,both,11419.0000,both,both
166,Greece,europe,0.399,7.0400,both,3901.8030,both,both
168,Hungary,europe,0.511,4.7800,both,2060.8200,both,both
169,Iceland,europe,0.740,10.7000,both,48.1600,both,both
170,Ireland,europe,0.546,8.2700,both,754.6700,both,both
171,Italy,europe,0.426,5.8800,both,9297.0800,both,both
172,Latvia,europe,0.543,3.6500,both,3391.4400,both,both
174,Lithuania,europe,0.539,4.4800,both,2187.0000,both,both
175,Luxembourg,europe,0.554,16.5000,both,88.7000,both,both
177,Malta,europe,0.513,3.9600,both,0.3500,both,both
178,Moldova,europe,0.425,1.1800,both,386.4000,both,both
180,Montenegro,europe,0.403,3.5700,both,827.0000,both,both
181,Netherlands,europe,0.597,9.8300,both,364.8300,both,both
182,Norway,europe,0.621,8.7200,both,12141.0000,both,both
183,Poland,europe,0.524,8.2200,both,9420.0000,both,both
184,Portugal,europe,0.513,5.0400,both,3312.0000,both,both
185,Romania,europe,0.506,3.9100,both,6900.9600,both,both
186,Russia,europe,0.601,11.2000,both,814930.4600,both,both
188,Serbia,europe,0.427,4.9300,both,2719.5300,both,both
189,Slovakia,europe,0.528,6.3500,both,1921.7500,both,both
190,Slovenia,europe,0.522,6.5800,both,1248.0000,both,both
191,Spain,europe,0.455,5.8100,both,18551.1800,both,both
192,Sweden,europe,0.592,4.4100,both,27980.0000,both,both
193,Switzerland,europe,0.649,4.6700,both,1251.9100,both,both
194,Turkey,europe,0.458,4.8600,both,21630.3000,both,both
195,Ukraine,europe,0.496,4.9900,both,9657.0000,both,both
196,United Kingdom,europe,0.589,6.4200,both,3155.0000,both,both

In [15]:
#Saving the merged data frame to a desktop computer. 
DF_MergeRegion.to_excel(r'/Users/MarinaKaminsky/Desktop/triple_merge.xlsx', sheet_name='Merge', index = False)